/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #a4b0d7;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Roboto', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base styles */

/* Theme color change */
body{
    background-color: var(--light-color);
    font-family: var(--font-family);
    font-weight: 300px;
    color: var(--light-color-alt);
    font-size: var(--font-size-sm);
    background-image:  url('background.jpg');
}

ul{
    list-style: none;
    display: flex;
}

nav{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--primary-background-color);
}

.headers-div{
    display: inline-flex;
}

.Header-items{
    margin: 0%;
    padding: 25px 15px 25px 15px;
    border: 1rem hidden;
    height: 100%;
    border-radius: 0px 0px 0px 10px;
    background-color: var(--transparent-light-color);
    cursor: pointer;

}
.Header-items:hover{
    background-color: red;
    
    color: var(--light-color);
}

.Header-list{
    font-weight: 300px;
    font-size: var(--font-size-xsm);
    font-family: var(--font-family);

}

.headers-a{
    display: flex;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.container-Pokedex{
    display: flex;
    margin: auto;
    margin-top: 5rem;
    width: 1165px;
    height: 1165px;
    text-align: center;
    background-color: rgb(37, 33, 33);
}

.Pokedex-background{
    display: flex;
    margin: auto;
    margin-top: 5.5rem;
    width: 800px;
    height: 1180px;
    background-color: #fff;
    opacity: 1;
}

.form{
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
    color: #12bcfe;
}



/* Reusable classes */

/* Header */

/* Header JavaScript Styles */

/* Search */

/* Form JavaScript styles */

/* Featured articles */

/* Featured articles - Sidebar */

/* Quick read */

/* Quick read - Swiper */

/* Older posts */

/* Popular tags */

/* Newsletter */

/* Footer */

/* Scrollbar styles */

/* Blog post */

/* Media queries */