/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #a4b0d7;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Roboto', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base styles */

/* Theme color change */
body{
    background-color: var(--light-color);
    font-family: var(--font-family);
    font-weight: 300px;
    color: var(--light-color-alt);
    font-size: 1.1rem;
    background-image:  url('background.jpg');
}

ul{
    list-style: none;
    display: flex;
}

nav{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--primary-background-color);
}

.headers-div{
    display: inline-flex;
}

.btn{
    cursor: pointer;
}

.Header-items{
    margin: 0%;
    padding: 25px 15px 25px 15px;
    border: 1rem hidden;
    height: 100%;
    border-radius: 0px 0px 0px 0px;
    background-color: var(--transparent-light-color);
    cursor: pointer;

}

.Header-items-current{
    margin: 0%;
    padding: 25px 15px 25px 15px;
    border: 1rem hidden;
    border-radius: 0px 0px 0px 0px;
    background-color:#E3350D;
    cursor: pointer;
}

.Header-items:hover{
    background-color: red;
    
    color: var(--light-color);
}

.home{
    border-radius: 5px 0px 0px 5px;
}

.home:hover{
    background-color: #919191;
}


.VideoGames:hover{
    background-color: #ee6b2f;
}

.CardGame:hover{
    background-color: #e6bc2f;
}

.PokemonTV:hover{
    background-color: #4dad5b;
}

.news {
    border-radius: 0px 5px 5px 0px;
}
.news:hover{
    background-color: #1b53ba;
}


.header-list-current{
    background-color: var(--transparent-dark-color);

}

.headers-a{
    display: flex;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    height: 20px;
    width: 100%;
}

.container-Pokedex{
    display: flex;
    margin: auto;
    margin-top: 2rem;
    width: 1165px;
    height: 1165px;
    text-align: center;
    background-color: rgb(37, 33, 33);
}

.Pokedex-background{
    display: flex;
    margin: auto;
    margin-top: 4rem;
    width: 800px;
    height: 910px;
    background-color: #fff;
    opacity: 1;
}

.form{
    margin-top: 2rem;
    margin-left: 16rem;
    display: flex;
    color: #12bcfe;
}

.form-input{
    width: 15rem;
    height: 3rem;
    border:  3px solid transparent;
    border-radius: 15px;
}

.form-btn{
    display: inline-block;
    border: 0.5px solid var(--secondary-background-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 15px;
}

.Title{
    color: black;
    margin-top: 7rem;
    margin-left: 16rem;
    align-self: auto;
    margin-bottom: -1rem;
}

.callout{
    display: flex;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: -12.5rem;
    float:initial;
    width: 22%;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 0px 20px 20px;
    color: var(--light-color);
    background-color: #4dad5b;
}

.callout:hover{
    transition: background-color 0.1s linear;
    background-color: #54c364;
    
}


/*  Pokemon Card styles */
.Pokemon-Container{
    padding: 40px;
    margin: 0 auto;
}

#pokedex{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 3rem;
    padding-inline-start: 0;
    align-items: start;
    justify-items: center;
    margin: 0 auto;
}
.card{
    width: 200px;
    list-style: none;
    padding: 20px;
    background-color: #f4f4f4;
    color: #222;
}

.card:hover{
    animation: bounce 0.5s linear;
}
.card-image{
    width: 100px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content: center;

  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--light-color);
    cursor: pointer;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.active{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

  
.pagination a:hover:not(.active) {background-color: #ddd;}
/* Reusable classes */

/* Header */

/* Header JavaScript Styles */

/* Search */

/* Form JavaScript styles */

/* Featured articles */

/* Featured articles - Sidebar */

/* Quick read */

/* Quick read - Swiper */

/* Older posts */

/* Popular tags */

/* Newsletter */

/* Footer */

/* Scrollbar styles */

/* Blog post */

/* Media queries */